html {
    height:100%;
    width:100%;
}
body {
    width:100%;
    height:100%;
    font-size:26px;
    background-color:whitesmoke;
    font-family: monospace;
    margin:0;
    overflow:hidden;
}
#header {
    height:60px;
    font-size: 40px;
    font-weight: bold;
    background: green;
    color: white;
    text-align: center;
}
    #title {
        position: relative;
        top: 8px;
    }
#content, #start-game {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#content{
    height: calc(100% - 60px);
    width: 200%;
    vertical-align: top;
    position: absolute;
    top:60px;

}
#left, #game {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
#left {
    width: 50%;
    background-color: orange;
    position: relative;
    z-index: 0;
    /*transition: all, 0.3s, ease-in-out;*/
}
    #left #start-game {

        display: none;
        position: relative;
        margin: 10px 10px 0 -102px;
        float: right;
        width: 102px;
    }

    #left #end-turn {
        display: none;
        float:right;
        margin: 10px 10px 0 -160px;
        position: relative;
        font-family: monospace;
        padding-bottom: 2px;
        border-radius: 5px;
        border: 2px solid green;
        box-shadow: 2px 2px 5px gray;
        background-color: saddleBrown;
        color: white;
    }

    #intro {
        width: 1200px;
        margin: 40px 0 0 -425px;
        text-align: justify;
    }
#form {
    width: 350px;
    margin: 100px auto;
    text-align: center;
}
    #form form > * {
        margin-top: 20px;
    }
    #form input,
    #form span {
        display:block;
    }

    #form input {
        height: 28px;
        width: 100%;
        font-size: 26px;
        text-align: center;
        font-family: monospace;

    }

    #form span {
        color: saddlebrown;
        text-shadow:1px 1px 1px black;
    }

    #form #show-board,
    #start-game {
        width: 80px;
        height: 40px;
        font-size: 28px;
        font-family: monospace;
        padding-bottom: 2px;
        border-radius: 5px;
        border: 2px solid green;
        box-shadow: 2px 2px 5px gray;
        background-color: saddleBrown;
        color: white;
    }

.players {
    display:none;
    margin: 100px 100px 100px 20px;
    width: 300px;
    float:right;
}
#player-b, #player-a {
    margin-left: 100px;
    position:relative;
}
#player-a {
    margin-bottom: 100px;
    margin-top: 20px;
    color: white;
}
#player-b {
    color: black;
}

.player-turn, #player-a, #player-b {
    display:inline-block;
}

.player-turn {
    vertical-align: top;
    position: absolute;
    top: 80px;
    transition: all, 0.3s, ease-in-out;
    color:green;
}

#player-a > span,
#player-b > span {
    display: block;
}

#game {
    width:50%;
    background: burlywood;;
    /*transition: all, 0.3s, ease-in-out;*/
}

#myCanvas {
    position: relative;
    z-index: 999;
}

#resources {
    display: none;
}



